<mat-card class="card">
    <mat-card-title>Add Category</mat-card-title>
    <mat-card-content class="card-content">
        <form (submit)="newCategory()">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="name">
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-raised-button color="warn" type="button" (click)="cancelInsert()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
