<mat-card class="card">
    <mat-card-title>Añadir contacto</mat-card-title>
    <mat-card-content class="card-content">
        <form (submit)="newProduct()">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="text" name="stock" [(ngModel)]="stock">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="text" name="price" [(ngModel)]="price">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Active</mat-label>
                <input matInput type="text" name="active" [(ngModel)]="active">            </mat-form-field>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!--<input matInput type="text" name="date_added" [(ngModel)]="date_added">-->
            </mat-form-field>
            <!--<mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <input matInput type="text" name="category" [(ngModel)]="category">
            </mat-form-field>-->

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-raised-button color="warn" type="button" (click)="cancelInsert()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
