<mat-card class="card">
    <mat-card-title>Contact details</mat-card-title>
    <mat-card-content class="card-content">
        <p>
            <mat-icon>person</mat-icon> <strong>Name: </strong> Miguel
        </p>
        <p>
            <mat-icon>person</mat-icon> <strong>1st Surname: </strong> Ricoy
        </p>
        <p>
            <mat-icon>person</mat-icon> <strong>2nd Surname: </strong> Astray
        </p>
        <p>
            <mat-icon>phone</mat-icon> <strong>Phone: </strong> 647398204
        </p>
        <p>
            <mat-icon>email</mat-icon> <strong>Email: </strong> example@example.org
        </p>
    </mat-card-content>
</mat-card>
